node_modules

# Python virtual environment
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local


# Backend
*.db
*.db-wal
*.db-shm
*.sqlite3